body {
font-size: 14px;
font-family: PTSans, MS Sans Serif, Geneva, sans-serif
line-height: 21px;
color: #333333;
font-weight: regular;
}

h1 {
font-size: 21px;
color: #000000;
font-weight: bold;
line-height: 26px;
}

